@use 'base/variables' as v;
@use 'base/mixins' as m;

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.no-margin {
    margin: 0;
}