@use 'base/variables' as v;
@use 'base/mixins' as m;

.admin-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem 0;

    .section-title {
        margin: 3rem 0;
        font-size: 4rem;
    }

    .not-found {
        margin: 5rem 0;
    }
}